<!-- <div class="container mt-4">
  <div class="d-flex gap-5 align-items-center">
    <div class="bg-info p-2">
      <h1>Coding Factory 5</h1>
      <h2>Introduction to Angular</h2>
    </div>
    <div class="bg-success p-2 text-light">
      <h3>Welcome to Angular</h3>
      <p>Hello <strong>Christodoulos</strong>! Nice to meet you.</p>
    </div>
  </div>
</div> -->



<div class="container ">

 <!-- <app-event-bind-example></app-event-bind-example> -->


 <div class="d-flex flex-column gap-2">
    <nav class="navbar navbar-dark bg-primary justify-content-between">
      <a role="button" class="navbar-brand ms-3" routerLink="">CF-5 Angular Introduction</a>
    </nav>

    <div class="d-flex flex-row gap-2">
      <!-- <div class="d-flex flex-column text-nowrap bg-light p-2">
        <span role="button" routerLink="component-input-example">Component Input Example</span>
        <span role="button" routerLink="for-directive-example">{{ '@for' }} Directive Example</span>
        <span role="button" routerLink="event-bind-example">Event Bind Example</span>
      </div> -->
      <app-list-group-menu class="w-25"></app-list-group-menu>
      <div class="flex-grow-1 p-2 text-nowrap w-75">
        <router-outlet></router-outlet>
      </div>
    </div>
 </div>
</div>