<!-- <div class="container mt-4">
  <div class="d-flex gap-5 align-items-center">
    <div class="bg-info p-2">
      <h1>Coding Factory 5</h1>
      <h2>Introduction to Angular</h2>
    </div>
    <div class="bg-success p-2 text-light">
      <h3>Welcome to Angular</h3>
      <p>Hello <strong>Christodoulos</strong>! Nice to meet you.</p>
    </div>
  </div>
</div> -->



<div class="container ">
  <!-- <h3>Welcome to Angular</h3>
  <p>Hello <strong>{{name}}</strong>! Nice to meet you.</p>

  <h4>Component input Example </h4>
 <div class="d-flex gap-5 text-nowrap">
      <app-person-table [person]="person0"></app-person-table>
      <app-person-table></app-person-table>
      <app-person-table [person]="person1"></app-person-table>
 </div>

 <h4>{{ '@for' }} Directive Example</h4>

 <div class="d-flex flex-wrap text-nowrap gap-2">
    @for (user of users; track user) {
      <app-person-table [person]="user"></app-person-table>
    }

 </div> -->

 <app-event-bind-example></app-event-bind-example>
</div>